{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for formset in formset %}
                        {{ formset }}
                        <hr>
                    {% endfor %}
                    <input class="btn btn-info" type="submit" name="submit">
                </form>

            </div>
        </div>
    </div>

{% endblock %}